@layer components {
  .card-list {
    container-type: inline-size;

    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-areas:
      "results toggle"
      "cards cards";
    row-gap: 2rem;

    & > p {
      grid-area: results;
      align-self: end;
    }

    [role="radiogroup"] {
      grid-area: toggle;
    }

    .project-content {
      grid-area: cards;
    }

    @container (max-width: 400px) {
      [role="radiogroup"] {
        display: none;
      }
    }
  }

  [data-layout] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  [data-layout="grid"] {
    flex-direction: row;
  }
  [data-layout="row"] {
    flex-direction: column;
  }

  [data-layout] > * {
    flex: 1 0 250px;
  }
}
