@layer components {
  .project-card {
    display: grid;
    gap: 1rem;

    img {
      aspect-ratio: 1;
      object-fit: cover;
    }

    progress {
      accent-color: var(--green);
    }

    .tags {
      display: flex;
      gap: 0.5rem;
    }

    .tags > span {
      border: var(--border-width) solid var(--text);
      border-radius: 1000px;
      padding: 0.15rem 0.75rem;
      background-color: var(--green);
      color: var(--black);
    }
  }

  [data-layout="row"] .project-card {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: max-content;
    gap: 1rem;

    .content {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      flex-direction: column;
    }

    .content > .copy {
      flex-grow: 2;
    }

    & > figure {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
}
