@layer components {
  .main-layout {
    display: grid;
    grid-template-columns: 1fr minmax(20rem, 60rem) 1fr;
    grid-template-rows: 4rem;
    grid-auto-rows: min-content;
    grid-template-areas:
      "header header header"
      ". main .";
    /*this doesnt allow for "full-bleed" layouts, which requires a slightly different syntax which is very hard to read */

    height: 100vh;

    .header {
      grid-area: header;
    }

    .main {
      grid-area: main;
    }
  }
}
